.wrapper{
  min-height: 100vh;
  background: linear-gradient(to right, #f7f1e3, #f5c868);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
}

.card{
  background-color: rgb(208, 188, 225);
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.1);
  max-width: 700%;
  width: 50%;
  text-align: center;
  animation: fadeInUp 0.6s ease-out;
  font-family: "Poppins", sans-serif;
}

@keyframes fadeInUp{
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.heading{
  font-size: 2.2rem;
  color: #4c4a8a;
  margin-bottom: 10px;
}

.subtext{
  font-size: 1rem;
  color: #666;
  margin-bottom: 40px;
}

.section{
  margin-top: 30px;
  text-align: left;
}

.title{
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon{
  color: #4c4a8a;
  font-size: 1.2rem;
}

.list{
  list-style: none;
  padding: 0;
}

.listitem{
  font-size: 1.05rem;
  color: #444;
  background-color: #f3f3fd;
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.listitem:hover{
  transform: scale(1.03);
  background-color: #e4e2fb;
}